

    {% block header %}
    {% if user.is_authenticated %}

    <p>Witaj {{ user }}</p>
          <p><a href="http://127.0.0.1:8000/logout">Wyloguj się</a></p>
    <p></p><a href="/EditUser/{{user.id}}}">Edytuj profil</a></p>
     <p></p><a href="/User/{{user.id}}}">Profil</a></p>
    {% else %}
        <a href="http://127.0.0.1:8000/login">Zaloguj się</a>
    {% endif %}
    {% endblock %}
    {% block content %}
        <a href="http://127.0.0.1:8000/Streamoor">Załóż konto</a>
    {% endblock %}
    {% block footer %}
        <h2>Streamoor</h2>
        <h3>Oglądaj co chcesz</h3>
    {% endblock %}


  {% load static %}

 <img src="{% static "baza/tlo.jpg" %}" alt="My image"/>

