
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Streamoor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />

</head>

{% block content %}


    <span class="bold">Oferty</span>

 {% for user in users %}

<li> User: <a href="/User/{{user.id}}"</a> {{user.username}}</li>
     <li>Oferuje: {{user.streamooruser.get_user_stream_display}}</li>


 {% endfor %}


 {% endblock %}